<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
      <title>Edit product - SellOra</title>
  <link rel="icon" type="image/png" href="/img/favicon-32x32.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/css/SELLORA.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Gravitas+One&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=BBH+Sans+Bogle&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Gravitas+One&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">


</head>
<body>
{{> partials/header}}
  <div class="container py-4">
    <button class="btn btn-custom mb-3" onclick="window.history.back()">Back</button>
    <div class="card p-4">
      <h3>Edit product</h3>

      <form action="/product/{{product._id}}/edit" method="POST" enctype="multipart/form-data">

        <div class="mb-3">
          <label class="form-label">Title</label>
          <input name="title" class="form-control" required value="{{product.title}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea name="text" class="form-control" rows="4"  required>{{product.text}}</textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">Price</label>
          <input name="price" class="form-control" required value="{{product.price}}">
        </div>

        <div class="mb-3">
          <label>Category
          <select name="category" required>

          <option value="Consoles" {{#product.category_Consoles}}selected{{/product.category_Consoles}}>
            Consoles
          </option>

          <option value="Videogames" {{#product.category_Videogames}}selected{{/product.category_Videogames}}>
            Videogames
          </option>

          <option value="Esports" {{#product.category_Esports}}selected{{/product.category_Esports}}>
            Esports
          </option>

          <option value="Comics" {{#product.category_Comics}}selected{{/product.category_Comics}}>
            Comics
          </option>

          <option value="Merch" {{#product.category_Merch}}selected{{/product.category_Merch}}>
            Merch
          </option>
  </select>
</label>

        </div>

        <div class="mb-3">
          <label class="form-label">Image</label>
          <div>
                {{#product.imageFilename}}
                <img src="/product/{{product._id}}/image" class="product-image" alt="{{product.title}}">
                {{/product.imageFilename}}

                {{^product.imageFilename}}
                {{#product.image}}
                    <img src="{{product.image}}" class="product-image" alt="{{product.title}}">
                {{/product.image}}

                {{^product.image}}
                    <img src="/img/placeholder.png" class="product-image" alt="sin imagen">
                {{/product.image}}
                {{/product.imageFilename}}
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Upload new image (optional)</label>
          <input type="file" name="image" class="form-control">
          <div class="form-text">If you don't select a file, the previous image will be kept.</div>
        </div>

        <div class="d-flex gap-2">
          <button class="btn btn-custom me-2" type="submit">Save</button>
          <a href="/product/{{product._id}}" class="btn btn-custom me-2">Cancel</a>
        </div>
      </form>
    </div>
  </div>

 
</body>
 {{>partials/footer}}
</html>
